.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 1rem;
  background: linear-gradient(45deg, rgb(0, 0, 182), rgb(157, 196, 255));
  color: white;
  border-radius: 15px;
  align-items: center;
  width: 360px;
  box-shadow: 0px 0px 10px rgb(116, 116, 116);
}

.weather-icon {
  margin-top: 20px;
  width: 58px;
}

.weather-icon:hover {
  animation-name: rotate-icon;
  animation-duration: 1s;
}

.card-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

.temperature {
  font-size: xx-large;
  margin-top: 20px;
}

.location {
  margin-top: 20px;
  font-size: xx-large;
}

.weather-data {
  display: flex;
  width: 100%;
  margin-top: 20px;
  gap: 4rem;
  justify-content: space-between;
}

.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 24px;
}

.weather-data .col span {
  font-size: 14px;
}

.weather-data .col img {
  width: 38px;
}

@keyframes rotate-icon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
