.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(176, 197, 255);
  width: 19%;
  box-shadow: 0px 0px 3px 0px;
  border-radius: 15px;
  min-width: 300px;
  align-items: center;
}

img {
  width: 48px;
  margin-bottom: 15px;
}

.card-info {
  font-size: x-large;
  display: flex;
  gap: 70px;
}
