.header {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background: linear-gradient(45deg, rgb(0, 0, 182), rgb(157, 196, 255));
  height: 52px;
  box-shadow: 0px 0px 3px 0px;
  flex-direction: column;
  align-items: center;
  width: 360px;
  box-shadow: 0px 0px 10px rgb(116, 116, 116);
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 93%;
}

.search-bar input {
  height: 30px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #242424;
  background: #ebfffc;
  font-size: 18px;
}

.search-bar img {
  cursor: pointer;
  max-width: 25px;
  margin: 0;
}
